.hero {
  background-color: #f1f5f9;
  text-align: center;
}

.hero-body .subtitle {
  padding-bottom: 3%;
}

.navbar-item {
  font-weight: bold;
}

.footer .navbar {
  background-color: inherit;
}

.footer a {
  color: inherit;
  padding: 0 1%;
}

.footer {
  padding-bottom: 3%;
}

.card {
  padding: 1%;
  margin: 3%;
}

.card-header-title {
  padding: 0 0 1% 0;
}
